@import "../../../css/responsive";

@import "produstcItself";
.center{
    width: 100%;
    max-width: 1420px;
    margin: 0  auto 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;

    @include desktopExtraLarge{
        width: 90%;
        margin: auto;
    }
}


.centru{
    width: 100%;
    max-width: 1420px;
    margin: 115px  auto 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

h1{
    margin-bottom: 55px;

    @include medium{
        font-size: 30px;
    
    }
}



.shopItems{
    grid-column: 1/13;
    margin-bottom: 30px;


    @include small{
        display: none;
    }

    .element_header_shop{

        display: flex;
        justify-content: space-between;
        width: 85%;

        @include desktopExtraLarge{
            width: 100%;

            @include large{
                display: none;
    
                @include small{
                    display: none;
                }
            }
        }


       

        span{
            &:first-of-type{
                width: 50%;

                @include desktopExtraLarge{
                    width: 55%;
                }
            }
        }

    }




























    .spre_achitare{
        grid-column: 9/13;
    
        @include medium{
            grid-column: 8/13;

            @include small{
    
                grid-column: 1/13;
        
            }
    
        }
    
        hr{
            margin-bottom: 30px;
        }
    
        .spre_achitare_counter{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            h3{
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
    
                @include small{
                    font-size: 14px;
                }
    
            }
        }
    }
}