@import "../../../css/responsive";

.center{
    width: 100%;
    max-width: 1420px;
    margin: 115px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}


.centru{
    width: 100%;
    max-width: 1420px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}


      
    .produse{

        @include desktopExtraExtraLarge{
            width: 90% !important;
            margin: auto;
        }

        .text_top{


            .section_nav{
                display: grid;
                grid-auto-columns: max-content;
                grid-auto-flow: column;
                grid-gap: 1rem;

                a{
                    color: #272727;
                }
                

            }
            margin-top: 50px;
            grid-column: 1/13;
            
            

            
    
            p{
                font-family: Open Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 22px;
                text-align: left;
                margin-bottom: 35px;

                @include small{
                    display: none;
                }
    
            }


            h1{

                @include small{
                    margin: 0;
                    font-size: 17px;
                }
            }
        }
    
    
        .filter{
            grid-column: 1/5;
            margin-top: 55px;
            height: 100%;

            @include desktopExtraLarge{
                grid-column: 1/5;
                grid-row: 2;

                @include large{
                    grid-column: 1/6;

                    @include medium{
                        grid-column: 1/13;
                    }
                }
                
            }
    
            h2{
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                padding: 20px 0 20px 22px;
                border: 1px solid rgba(39, 39, 39, 0.3);

                @include small{
                    font-size: 14px;
                    padding: 10px 0 10px 11px;
                }
            }
    
    
            .products_element{
                padding: 20px 0 20px 22px;
                border: 1px solid rgba(39, 39, 39, 0.3);
                border-top: none;

                @include small{
                    
                    padding: 10px 0 10px 11px;
                }
        
                h3{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 25px; 

                    @include small{
                        font-size: 14px;
                        
                    }
        
                }
        
        
                .radion_btn{
                    padding: 15px 0 0 18px;
                    display: flex;
                    flex-direction: column;
                    
                    ul{

                        li{
                            margin-bottom: 15px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;


                            button{
                                background-color: pink;
                                border: none;
                                padding: 10px;
                                cursor: pointer;
                                border-radius: 5px;
                                width: 100px;
                            }

                        }
                    }
                    
                }
        
            }
    
        }



        


       


       


        
    
    
    
        .products_filters{
            margin-top: 55px;
            grid-row-gap: 40px;
            grid-column-gap: 20px;
            grid-column: 5/13;
            

            

                @include large{
                    grid-column: 6/13;
                    grid-template-columns: repeat(2, 1fr);
                    
    
                    @include medium{
                        grid-column: 1/13;
                        grid-template-columns: repeat(2,1fr);

                        @include small{
                            grid-template-columns: repeat(2, 1fr);
                        }
                    }
                }



                .produscts_inside_filters{
                    display: grid;
                    //flex-wrap: wrap;
                   // grid-template-columns: repeat(3, 1fr);
                   grid-column: 6/13;
                   grid-template-columns: repeat(3, 1fr);
                   gap: 40px 20px;

                   @include large{
                    grid-template-columns: repeat(2, 1fr);
                    

                    @include medium{
                        grid-template-columns: repeat(3, 1fr);
                    }

                    @include small{
                        grid-template-columns: repeat(2, 1fr);
                    }

                   }
                }
            



            
                
            
           
        }



        
    
        
    }

    