*{
    padding: 0;
    margin: 0;
}

.center{
    margin-top: 115px;

   

}


form{
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 115px auto 0 auto;
    align-items: flex-start;

    input{
        outline: none;
        border: 1px solid black;
        height: 35px;
        margin-top: 15px;
        width: 100%;
    }
    


    span{
        display: none;
        color: red;
    }


    .btn_submit{
        margin-top: 15px;
        border: none;
        background-color: pink;
        padding: 10px;
        width: 100%;
        cursor: pointer;
    }
}